/project/vendor/
/project/node_modules/
/project/public/build
/project/public/hot
/project/public/storage
/project/storage/*.key
/project/.env
/project/.env.*.local
/project/.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.fleet
.DS_Store
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
node_modules/
vendor/
.env
